# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp

# Data files (uncomment if you download large datasets)
# *.bin
# *.pt
# data/

# OS
.DS_Store
